@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100%;
    background-color: #F8FAFD;
}

.container{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/backgroundBrasilHub.png);
    background-size: fill;
    padding: 5%;
}

.content{
    width: 25dvw;
    height: 30dvh;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 5%;
}

.text{
  font-family:'Audiowide', sans-serif;
  width: 100%;
  height:120px;
  font-size: 5rem;
  text-align: start;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}
