@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100%;
    background-color: #f2f2f2;
}

.container{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/backgroundBrasilHub\ 2.png);
    background-size: fill;
    padding: 5%;
}

.text{
  font-family:'Audiowide', sans-serif;
  padding: 5% 5% 5% 5%;
  width: 100%;
  height: 200px;
  font-size: 5rem;
  /*   word-break: break-all; */
  text-align: center;
  width: 90vw;
  max-width: 50ch;
}
